@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
*, ::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#181818), to(rgba(24, 24, 24, 0.4))), url(/assets/bg_png.png);
  background: linear-gradient(90deg, #181818, rgba(24, 24, 24, 0.4)), url(/assets/bg_png.png);
}

header ul {
  padding: 30px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

header ul span {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #E7C650;
}

header ul #title {
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
}

.container {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 5%;
  width: 30%;
  max-width: 30%;
}

.container ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
}

.container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.container ul li h1 {
  color: #fff;
  font-size: 3.5em;
  font-weight: 700;
  white-space: nowrap;
}

.container ul li h1 span {
  color: #E7C650;
}

.container ul li p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.container ul li p a {
  text-decoration: none;
  color: #E7C650;
  font-weight: 500;
}

.container ul li form {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  row-gap: 35px;
}

.container ul li form#signup {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
}

.container ul li form#signup #first-name {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
}

.container ul li form#signup #last-name {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
}

.container ul li form#signup #email {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2/1/3/3;
}

.container ul li form#signup #password {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3/1/4/3;
}

.container ul li form#signup #submit {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 4/1/5/3;
}

.container ul li form#login {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

.container ul li form#login #email {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/2/3;
}

.container ul li form#login #password {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2/1/3/3;
}

.container ul li form#login #submit {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3/1/4/3;
}

.container ul li form .input-field {
  height: 65px;
  background: rgba(143, 143, 143, 0.2);
  border-radius: 20px;
  position: relative;
  cursor: text;
}

.container ul li form .input-field input {
  position: absolute;
  left: 20px;
  top: 30px;
  width: calc(100% - 20px - 54px);
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background: none;
  border: none;
  outline: none;
}

.container ul li form .input-field img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 15px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.container ul li form .input-field::after {
  content: attr(id);
  position: absolute;
  top: 5px;
  left: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}

.container ul li form .input-field:focus-within {
  outline: 2px solid #E7C650;
}

.container ul li form .input-field:focus-within::after {
  color: #E7C650;
}

.container ul li form button {
  height: 65px;
  border: none;
  outline: none;
  background: #E7C650;
  border-radius: 20px;
  -webkit-transition: background .2s;
  transition: background .2s;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.container ul li form button:hover {
  background: rgba(231, 198, 80, 0.8);
}

.container ul li small {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: rgba(255, 255, 255, 0.5);
}

.container ul li small a {
  color: #E7C650;
}
/*# sourceMappingURL=style.css.map */